$google-color: #db3236;
$twitter-color: #1DA1F2;


.btn-trivia {
  width: 72px;
  height: 72px;
  font-size: 20px;
  box-shadow: 1px 5px darken($info, 20%);

  &:active {
    position: relative;
    top: 5px;
    box-shadow: none;
  }

  &:focus {
    box-shadow: 1px 5px darken($info, 20%);

    &:active {
      box-shadow: 0 0 40px 10px $info;

    }
  }

}

.btn-google {
  background-color: $google-color;
}

.btn-twitter {
  background-color: $twitter-color;
}
