@import './variables.scss';
@import './vender.scss';

a {
  color: unset;
  text-decoration: none;
}

.container {
  max-width: 660px;
}

html {
  min-height: 100vh;
  background-color: #dfdfdf;

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}

body {
  touch-action: manipulation;
  background-color: #dfdfdf;
}

@import './btn.scss';
@import './trivia.scss';
