@import './variables.scss';
@import './vender.scss';

a {
  color: unset;
  text-decoration: none;
}

.container {
  max-width: 660px;
}

html {
  min-height: 100vh;
  background-color: #dfdfdf;

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}

body {
  touch-action: manipulation;
  background-color: #dfdfdf;
}

.img-box-fix-aspect {
  position: relative;
  width: 100%;
  padding-top: 55%;

  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    // show spinner
    background-image: url('/spinner.gif');
    background-repeat: no-repeat;
    background-position: center center;
  }
}

// utility
.cursor-pointer {
  cursor: pointer;
}

.box-fix-aspect {
  width: 100%;
  padding-top: 55%;
}

@import './btn.scss';
@import './trivia.scss';
