@import './variables.scss';
@import './vender.scss';

a {
  color: unset;
  text-decoration: none;
}

.container {
  max-width: 660px;
}

html {
  min-height: 100vh;
  background-color: #dfdfdf;
}

body {
  background-color: #dfdfdf;
}

.trivia-card-img {
  width: 100%;
  min-height: 162px;
  @include media-breakpoint-up(sm) {
    min-height: 311px;
  }
  background-image: url('/spinner.gif');
  background-repeat: no-repeat;
  background-position: center center;
}

@import './trivia-modal.scss';
