@import './variables.scss';
@import './vender.scss';

a {
  color: unset;
  text-decoration: none;
}

.container {
  max-width: 660px;
}

html {
  min-height: 100vh;
  background-color: #dfdfdf;

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }
}

body {
  background-color: #dfdfdf;
}

.trivia-card-img {
  width: 100%;
  min-height: 162px;

  @include media-breakpoint-up(sm) {
    min-height: 311px;
  }

  background-image: url('/spinner.gif');
  background-repeat: no-repeat;
  background-position: center center;
}

.btn-trivia {
  font-size: 20px;
  width: 72px;
  height: 72px;
  box-shadow: 1px 5px darken($info, 20%);

  &:active {
    box-shadow: none;
    position: relative;
    top: 5px;
  }

  &:focus {
    box-shadow: 1px 5px darken($info, 20%);

    &:active {
      box-shadow: 0 0 40px 10px $info;

    }
  }

}

@import './trivia-modal.scss';
