.trivia-card {
  overflow: hidden;

  @for $i from 1 through 20 {
    div:nth-child(#{$i}) {
      top: random(100) / 100 * 100%;
    }
  }

}

.trivia-scroll {
  position: absolute;
  width: 100%;
  padding-left: 110%;
  margin-left: -48px;
  font-size: 140%;
  line-height: 1em;
  white-space: nowrap;
  animation: scrollAnime 3s linear forwards;
}

@keyframes scrollAnime {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(-120%)
  }
}

.count-for-trivia-card {
  position: absolute;
  right: 30px;
  bottom: 30px;

  @include media-breakpoint-down(sm) {
    right: 20px;
    bottom: 20px;
  }

  .count-text {
    font-size: 36pt;
    color: #DA8E00;
    letter-spacing: 2px;
    background: -webkit-linear-gradient(-45deg, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include media-breakpoint-down(sm) {
      right: 20px;
      bottom: 20px;
      font-size: 24px;
    }
  }
}
