.trivia-card {
  overflow: hidden;

  @for $i from 1 through 20 {
    div:nth-child(#{$i}) {
      top: random(100) / 100 * 100%;
    }
  }

}

.trivia-scroll {
  position: absolute;
  width: 100%;
  padding-left: 110%;
  margin-left: -48px;
  font-size: 140%;
  line-height: 1em;
  white-space: nowrap;
  animation: scrollAnime 3s linear forwards;
}

@keyframes scrollAnime {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(-120%)
  }
}

.count-for-trivia-card {
  position: absolute;
  right: 5%;
  bottom: 5%;

  .count-text {
    font-size: 36pt;
    letter-spacing: 2px;

    @include media-breakpoint-down(lg) {
      font-size: 24px;
    }
  }

  .text-gold {
    color: #DA8E00;
    background: -webkit-linear-gradient(-45deg, #F7DE05, #DA8E00, #EDAC06, #F7DE05, #ECB802, #DAAF08, #B67B03, #DA8E00, #EDAC06, #F7DE05, #ECB802, #EDAC06);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-silver {
    color: transparent;
    background: repeating-linear-gradient(0deg, #757575 0.1em, #9E9E9E 0.2em, #E8E8E8 0.3em, #9E9E9E 0.4em, #757575 0.5em);
    -webkit-background-clip: text;
  }
}
