$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$orange: #fd7e14;
$teal: #20c997;
$light: #ccc;

$theme-colors: (
  'indigo': $indigo,
  'purple': $purple,
  'pink': $pink,
  'orange': $orange,
  'teal': $teal,
  'light': $light,
);
