$indigo: #6610f2;
$purple: #6f42c1;
$tblue: #000080;
$pink: #e83e8c;
$orange: #fd7e14;
$teal: #20c997;
$light: #ccc;
$snow: #fafafa;
$info: #0cccc9;
$bronze:#8a693e;
$aliceblue: aliceblue;

$theme-colors: (
  'indigo': $indigo,
  'purple': $purple,
  'tblue': $tblue,
  'pink': $pink,
  'orange': $orange,
  'teal': $teal,
  'light': $light,
  'snow': $snow,
  'info': $info,
  'bronze': $bronze,
  'aliceblue':$aliceblue,
);
