@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

@import '~toastr/toastr.scss';
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
